.Story {
  display: flex;
  width: 49%;
  height: 250px;
  border: 2px solid ghostwhite;
  margin-top: 20px;
}

.Story img {
  width: 175px;
}

.storyImage {
  height: 100%;
}

.story-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
}

.story-info h3 {
  letter-spacing: 1px;
  margin: 5px;
}

.story-info p {
  font-weight: lighter;
  line-height: 150%;
  margin: 0;
}

@media screen and (max-width: 910px) {
  .Story {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .Story {
    flex-direction: column;
    height: 650px;
  }

  .storyImage {
    height: 380px;
    width: 100%!important;
  }

  .authorInfo {
    margin-top: 10%;
  }
}
